.summary-wrapper {
    text-align: center;
}
.summary-wrapper h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(65, 102, 255);
    margin-bottom: 30px;
}

.description {
    margin-bottom: 30px;
}

.summary-wrapper .amount {
    font-size: 2.5rem;
    background-color: aquamarine;
    margin-bottom: 40px;
}

.summary-item-section {
    margin-bottom: 30px;
    color: cadetblue;
}

.summary-item-section > p {
    font-size: 1rem;
    margin-bottom: 0;
}

.confirm-request-wrapper {
    margin-top: 100px;
}
