.summary-wrapper {
    text-align: center;
}
.summary-wrapper h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 30px;
}

.description {
    margin-bottom: 30px;
}

.summary-wrapper .amount {
    font-size: 2.5rem;
    background-color: var(--color-secondary);
    margin-bottom: 40px;
    color: #fff;
}

.summary-item-section {
    margin-bottom: 30px;
    color: var(--color-gray);
}

.summary-item-section > p {
    font-size: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.summary-item-section p:nth-child(2) {
    color: var(--color-black);
}
