:root {
    --color-primary: rgb(65, 102, 255);
    --color-secondary: #63ba9d;
    --color-gray: #999;
    --color-black: #555;
    --color-red: #cb0f0f;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-container {
    margin: 20px 0 50px;
}

.logo-container .logo {
    width: 250px;
}

.content-wrapper {
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.form {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
}

.form .form-group label {
    font-size: 14px;
    color: var(--color-primary);
}

.form .error {
    color: var(--color-red);
    font-size: 12px;
}

.btn {
    text-transform: uppercase;
    font-size: 15px;
    background-color: var(--color-primary);
    height: 40px;
}

.form input {
    font-size: .85rem;
    height: 40px;
}

.btn-group-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.btn-left-small {
    width: 80px;
    margin-right: 10px;
}

.btn-right-large {
    flex: 1;
}

.title {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.title img {
    height: 10px;
    width: 10px;
    margin-right: 3px;
}
